* {
  padding: 0px;
  margin: 0px;
  max-width: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
  /* background-color: brown; */
}

.sectionlogo {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 18px;
}

.navbar li {
  list-style: none;
  padding: 10px 0px;
}

.navbar a {
  text-decoration: none;
  color: grey;
}

.navbar a:hover {
  color: black;
}

.navbar a:hover {
  text-decoration: underline orange;
}

.button1 {
  /* background-image: url(Rectangle1.png); */
  border: 0;
  padding: 10px 25px;
  background-color: hsl(8, 79%, 92%);
  border-radius: 30px 30px 15px 15px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.button1:hover {
  background-color: rgb(255, 104, 78);
}

.herosection {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.herotext h2 {
  font-size: 50px;
  align-items: center;
  line-height: 60px;
  padding: 20px 0;
}

.herotext p {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  color: grey;
}

.herotext {
  padding: 50px 50px;
}

.button2 {
  /* background-image: url(Rectangle1.png); */
  border: 0;
  padding: 15px 35px;
  background-color: rgb(247, 195, 69);
  border-radius: 30px 30px 15px 15px;
  /* font-weight: 800; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  font-size: 20px;
}

.button2:hover {
  background-color: rgb(197, 121, 7);
}

.watch {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.watch p {
  font-size: 20px;
  color: grey;
  line-height: 40px;
}

.midnavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.midNav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.midNav li {
  list-style: none;
  margin: 0 2rem;
}

.midNav a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.midNav a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}
.videopart {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.videos {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  grid-gap: 20px;
}

.video1 {
  text-align: center;
  line-height: 30px;
}

.video2 {
  text-align: center;
  line-height: 30px;
}
.video3 {
  text-align: center;
  line-height: 30px;
}
.video4 {
  text-align: center;
  line-height: 30px;
}

.quotes p {
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 60%;
  padding-top: 80px;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.users {
  display: flex;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 25px;
  line-height: 30px;
}
.users p {
  font-size: 17px;
  color: grey;
}

.app {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}

.appbutton {
  display: flex;
  padding-top: 70px;
}

.applink {
  padding: 50px;
  font-size: 30px;
  width: 50%;
}

.applink p {
  padding-top: 20px;
  font-size: 25px;
  color: grey;
}

.footer {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin-top: 100px;
  border-top: 1px solid gray;
  padding: 30px 0px 0px 0px;
}

.specialcourse li {
  list-style: none;
}
.specialcourse a {
  text-decoration: none;
  color: grey;
}

.specialcourse a:hover {
  text-decoration: underline;
}

.Company li {
  list-style: none;
}
.Company a {
  text-decoration: none;
  color: grey;
}

.Company a:hover {
  text-decoration: underline;
}

.BeOurFriend li {
  list-style: none;
}
.BeOurFriend a {
  text-decoration: none;
  color: grey;
}

.BeOurFriend a:hover {
  text-decoration: underline;
}
.logo1 {
  padding: 50px 20px;
}

.copy p {
  text-align: center;
  color: gray;
}

.copy {
  border-top: 1px solid gray;
  padding: 20px;
  margin-top: 30px;
}
